In [1]:
from utils import figi_from_ticker, get_shares, figi

In [2]:
data = get_shares('aapl')
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-12-31,0.901228,0.918527,0.888393,0.917969,0.786033,163811200
2000-01-03,0.936384,1.004464,0.907924,0.999442,0.855797,535796800
2000-01-04,0.966518,0.987723,0.903460,0.915179,0.783644,512377600
2000-01-05,0.926339,0.987165,0.919643,0.928571,0.795112,778321600
2000-01-06,0.947545,0.955357,0.848214,0.848214,0.726304,767972800
...,...,...,...,...,...,...
2022-03-28,172.169998,175.729996,172.000000,175.600006,175.600006,90371900
2022-03-29,176.690002,179.009995,176.339996,178.960007,178.960007,100589400
2022-03-30,178.550003,179.610001,176.699997,177.770004,177.770004,92633200
2022-03-31,177.839996,178.029999,174.399994,174.610001,174.610001,103049300
2022-04-01,174.029999,174.880005,171.940002,174.309998,174.309998,78699800

In [3]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-12-31,0.901228,0.918527,0.888393,0.917969,0.786033,163811200
2000-01-03,0.936384,1.004464,0.907924,0.999442,0.855797,535796800
2000-01-04,0.966518,0.987723,0.903460,0.915179,0.783644,512377600
2000-01-05,0.926339,0.987165,0.919643,0.928571,0.795112,778321600
2000-01-06,0.947545,0.955357,0.848214,0.848214,0.726304,767972800
...,...,...,...,...,...,...
2022-03-28,172.169998,175.729996,172.000000,175.600006,175.600006,90371900
2022-03-29,176.690002,179.009995,176.339996,178.960007,178.960007,100589400
2022-03-30,178.550003,179.610001,176.699997,177.770004,177.770004,92633200
2022-03-31,177.839996,178.029999,174.399994,174.610001,174.610001,103049300
2022-04-01,174.029999,174.880005,171.940002,174.309998,174.309998,78699800

In [4]:
figi['ticker']

0               SBWS
1               RCMX
2               FXTB
3       RU000A1007R9
4       RU000A102Q33
            ...
2077              RH
2078             XYL
2079            IDCC
2080            AMED
2081             PGR
Name: ticker, Length: 2082, dtype: object

In [5]:
type(figi['ticker'])

pandas.core.series.Series